body{
  background-color: #f1ece5;
}

#resume ul li{
  display: inline-block;
  padding: 12px;
  margin: 10px;
  background-color: #545454;
  width: 30%;
  text-align: center;
  font-color: white;
  text-transform: uppercase;
}

#resume ul li a{
  text-decoration: none;
}

#resume ul li:hover {
  background-color: #ced1d4;
}

#p3{
  display: block;
  margin: auto;
  width: 20%;
}